@{
    ViewData["Title"] = "Acompanhar Cultivo";
}
<script>
    localStorage.setItem("isLoggedIn", "true");
    toastr.success("Mensagem de teste exibida com sucesso!");
</script>
<div class="d-flex flex-column align-items-center" style="width: 100%; height: 100%; gap: 3rem;">
    <h1 class="mt-4">Acompanhar Cultivo</h1>
    <img src="~/wwwroot/imagens/Tabela_cultivo.jpeg" style="width: 40%;" />
</div>



